html,
body {
    margin: 0;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items>li {
    margin: 0 1em;
}

.nav-logo {
    width: 40px;
}